/* p {
  font-style: normal;
  font-size: 20px;
} */

.delete {
  /* margin: 14px; */
  font-size: 20px;
  /* margin-left: 300px; */
  padding: 0 10px;
  -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  border: 3px solid black;
}

h1 {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 30%;
  margin-bottom: 10px;
}

.btn {
  width: 10%;
  margin-left: 260px;
}

#book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 6px black;
  width: 400px;
  margin: auto;
  box-sizing: content-box;
}

#book-list .book:nth-child(odd) {
  background: rgb(218, 218, 218);
}


.book {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */

}

h2 {
  text-align: center;
}